*{margin:0;padding:0;}
body { font: .9em Georgia, "Times New Roman", Serif; background: #fff; color: #777; }

a { color: #D40000; text-decoration: none; }
a:hover { color: #8F0000; }

div { line-height: 1.7em; float:left; font-size: 16px;  padding: 0 0 10px; margin: 0 0 15px;}
p { line-height: 1.7em; float:left; font-size: 16px;  padding: 0 0 10px; margin: 0 0 15px;}
span { line-height: 1.7em; float:left; font-size: 16px;  padding: 0 0 10px; margin: 0 0 15px;}

h1 { float: left; font-size: 2em; font-weight: normal; padding: 0 0 10px; margin: 0 0 15px;}
h2 { font-weight: normal; font-size: 2.6em; padding: 0 0 10px; margin: 0 0 15px; }
h3 { font-size: 1.7em; font-weight: normal; margin: 0 0 20px; }
h3 a { color: #222; }
.mt5{ margin-top:5px;}
.mr5{ margin-right:5px;}
.mb5{ margin-bottom:5px;}
.ml5{ margin-left:5px;}
.mt10{ margin-top:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.mt20{ margin-top:20px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}
.pt5{ padding-top:5px;}
.pr5{ padding-right:5px;}
.pb5{ padding-bottom:5px;}
.pl5{ padding-left:5px;}
.pt10{ padding-top:10px;}
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px;}
.pl10{ padding-left:10px;}
.posRel{ position:relative;}
.posAbs{ position:absolute;}
table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
	text-align: left;
}
table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
table td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}

.clearb{ clear:both;}