    <div class="control-group">
      <%= f.label :is_finalized, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_finalized, :class => 'check_box' %>
      </div>
    </div> 