<div class="control-group">
  <label class="control-label"><%= "Plot" %></label>
  <div class="controls">
    <%= select_tag (params[:booking] ? "booking[plot_id]" : "grantee_grafe[plot_id]"), options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]}), 
  							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                           :action => "get_grave_from_plot"
                           ) } %>
  </div>
</div>

<div id="div_update_grave">
 	<div class="control-group">
    <label class="control-label"><%= "Grave" %></label>
    <div class="controls">
      <%= select_tag (params[:booking] ? "booking[grafe_id]" : "grantee_grafe[grafe_id]"), options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}) %>
    </div>
  </div>
</div> 