<div class="control-group">
  <label class="control-label"><%= "Grave" %></label>
  <div class="controls">
    <%= select_tag (params[:booking] ? "booking[grafe_id]" : (params[:grantee_grafe] ? "grantee_grafe[grafe_id]" : (params[:maintenance] ? "maintenance[grafe_id]" : "permit[grafe_id]"))), options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}), 
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => "get_grantee_from_grave",
                                 	 :class => 'selectField'
                                 ) }  %>
  </div>
</div>
  