<div class="control-group">
  <label class="control-label"><%= "Plot" %></label>
  <div class="controls">
    <%= select_tag (params[:booking] ? "booking[plot_id]" : (params[:grantee_grafe] ? "grantee_grafe[plot_id]" : (params[:maintenance] ? "maintenance[plot_id]" : "permit[plot_id]"))), options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]}), 
  							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                           :action => "get_grave_from_plot",
                                 	 :class => 'selectField'
                           ) } %>
  </div>
</div>

<div id="div_update_grave">
 	<div class="control-group">
    <label class="control-label"><%= "Grave" %></label>
    <div class="controls">
      <%= select_tag (params[:booking] ? "booking[grafe_id]" : (params[:grantee_grafe] ? "grantee_grafe[grafe_id]" : (params[:maintenance] ? "maintenance[grafe_id]" : "permit[grafe_id]"))), options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}), 
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => (params[:permit] ? "get_grantee_booking_from_grave" : "get_grantee_from_grave"),
                                 	 :class => 'selectField'
                                 ) }  %>
    </div>
  </div>
</div> 