<%
	grave_param = (params[:booking] ? "booking[grafe_id]" : (params[:grantee_grafe] ? "grantee_grafe[grafe_id]" : (params[:maintenance] ? "maintenance[grafe_id]" : (params[:permit] ? "permit[grafe_id]" : "work_order[grafe_id]"))))
%>
<div class="control-group">
  <label class="control-label"><%= "Grave" %></label>
  <div class="controls">
  	<% if params[:work_order] %>
  		<%= select_tag grave_param, options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}) %>
  	<% else %>
	    <%= select_tag grave_param, options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}), 
	        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
	                                 :action => (params[:permit] ? "get_grantee_booking_from_grave" : "get_grantee_from_grave")) }, :class => 'selectFieldAjax' %>
	 <% end %>                                
  </div>
</div>
<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>    
<script type="text/javascript">
	$(document).ready(function() {
	  $('.selectFieldAjax').change (function() {
	    $("#spinner").show();
	  });	 
	});	  
</script>	 