<div class="control-group">
  <label class="control-label"><%= "Plot" %></label>
  <div class="controls">
    <%= select_tag "grafe[plot_id]", options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]})  %>
  </div>
</div>