<div class="control-group">
  <label class="control-label"><%= "Row" %></label>
  <div class="controls">
    <%= select_tag "plot[row_id]", options_for_select([["Select", ""]] + @rows.collect {|r| [r.name, r.id]})  %>
  </div>
</div>