<p>A free online library of cemetery records from thousands of cemeteries across the world, for historical and genealogy research.</p>

<p>
	
OCMS is a publisher of cemetery transcriptions for use by genealogists and local historians. Visitors use our online library to help them locate burials of their family and friends, trace their family history, and learn something about cemeteries in general.	
	
</p>
