<div class="control-group">
  <label class = 'control-label'><%= t("general.total_amount") %></label>
  <div class="controls">
    $ <%= @total_amount %>	    
  </div>
</div>
<%= hidden_field_tag "payment[total_amount]", @total_amount.to_i %>
