<div class="control-group">
  <label class="control-label"><%= t("general.catalog") %></label>
  <div class="controls">
    <%= select_tag "payment[catalog_id]", options_for_select([["Select", ""]] + @catalogs.collect {|r| [r.name, r.id]}),
	        							:data => { :remote => true, :url => url_for(:controller => "payments", 
                                   :action => "get_cost_price_from_catalog",
                                   :class => 'selectField'
                                   ) }  %>
  </div>
</div>
<div id="div_update_cost_price"></div>